%section#main
  .row
    .small-10.small-centered.medium-8.large-4.large-centered.panel.columns
      .switch.large.radius.left
        %input{ :id => 'light-switch', :type => 'checkbox', 'checked' => enabled ? true : nil }
        %label{ :for => 'light-switch' }
      %label.inline.light-label.right
        Luz del escritorio

:javascript
  $(function() {
    $('#light-switch').change(function(event) {
      if ($(this).is(':checked')) {
        $.post('/enable');
      }
      else {
        $.post('/disable');
      }
    });
  });
