%section#main
  %section.container.form-horizontal
    .row
      .col-lg-4.col-lg-offset-4.col-xs-8.col-xs-offset-2
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              Luz del escritorio
          .panel-body.text-center
            %input{ :id => 'light-switch', :type => 'checkbox', 'checked' => enabled ? true : nil }
    .row
      .col-lg-4.col-lg-offset-4.col-xs-8.col-xs-offset-2
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              Color de la luz
          .panel-body.text-center
            %input.input-lg{ :id => 'color-selector', :type => 'color' }
    .row
      .col-lg-4.col-lg-offset-4.col-xs-8.col-xs-offset-2
        .panel.panel-default
          .panel-heading
            %h3.panel-title
              Temperatura
          .panel-body.text-center
            %span{ :id => 'temperature' }
              = temperature



:javascript
  $(function() {
    var setSwitchState = function(state) {
      $('#light-switch').bootstrapSwitch('state', state, true);
    };

    $('#light-switch').bootstrapSwitch({size: 'large'});

    $('#light-switch').on('switchChange.bootstrapSwitch', function(event, checked) {
      if (checked) {
        $.post('/rgb');
      }
      else {
        $.post('/disable');
      }
    });

    $('#color-selector').change(function() {
      $.post('/rgb?' + $.param({ color: $(this).val()}));
      setSwitchState(true);
    });

    var ws = new WebSocket('ws://' + window.location.host + window.location.pathname);
    ws.onmessage = function(event) {
      var message = JSON.parse(event.data);
      console.log(message);
      switch(message.type) {
        case 'lights':
          setSwitchState(message.enabled);
          break;
        case 'temperature':
          $('#temperature').text(message.value);
          break;
      }
    };
  });
