%section#main
  %section
    .row
      .small-10.small-centered.medium-8.large-4.large-centered.panel.columns
        .switch.large.radius.left
          %input{ :id => 'light-switch', :type => 'checkbox', 'checked' => enabled ? true : nil }
          %label{ :for => 'light-switch' }
        %label.inline.light-label.right
          Luz del escritorio
    .row
      .small-10.small-centered.medium-8.large-4.large-centered.panel.columns
        %input.left{ :id => 'color-selector', :type => 'color' }
        %label.inline.light-label.right
          Color de la luz

:javascript
  $(function() {
    var setSwitchState = function(state) {
      $('#light-switch').prop('checked', state);
    };

    $('#light-switch').change(function(event) {
      if ($(this).is(':checked')) {
        $.post('/rgb');
      }
      else {
        $.post('/disable');
      }
    });

    $('#color-selector').change(function() {
      $.post('/rgb?' + $.param({ color: $(this).val()}));
      switchState(true);
    });

    var ws = new WebSocket('ws://' + window.location.host + window.location.pathname);
    ws.onmessage = function(event) {
      var message = event.data;
      switch(message) {
        case 'enabled':
          setSwitchState(true);
          break;
        case 'disabled':
          setSwitchState(false);
          break;
      }
    };
  });
