%section#main
  %section.container.form-horizontal
    .row
      .col-lg-4.col-lg-offset-4.col-xs-8.col-xs-offset-2
        .form-group.well
          %label.control-label.col-sm-6
            Luz del escritorio
          .col-sm-6
            %input{ :id => 'light-switch', :type => 'checkbox', 'checked' => enabled ? true : nil }
        .form-group.well
          %label.control-label.col-sm-6
            Color de la luz
          .col-sm-6
            %input{ :id => 'color-selector', :type => 'color' }

:javascript
  $(function() {
    var setSwitchState = function(state) {
      $('#light-switch').bootstrapSwitch('toggleState', state);
    };

    $('#light-switch').bootstrapSwitch();

    $('#light-switch').on('switchChange.bootstrapSwitch', function(event, checked) {
      if (checked) {
        $.post('/rgb');
      }
      else {
        $.post('/disable');
      }
    });

    $('#color-selector').change(function() {
      $.post('/rgb?' + $.param({ color: $(this).val()}));
      setSwitchState(true);
    });

    var ws = new WebSocket('ws://' + window.location.host + window.location.pathname);
    ws.onmessage = function(event) {
      var message = event.data;
      switch(message) {
        case 'enabled':
          setSwitchState(true);
          break;
        case 'disabled':
          setSwitchState(false);
          break;
      }
    };
  });
